/* Logo */
.logo {
    width: 80px;
    height: 80px;
    object-fit: contain;
  }
  
  /* Header container */
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    /* background-color: #fff; */
    background-color: rgb(1, 163, 144);
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  /* Navigation menu */
  .nav-items ul {
    display: flex;
    gap: 24px;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .nav-items li {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    color: #333;
    cursor: pointer;
    transition: color 0.2s ease-in-out;
  }

  ul li {
    list-style-type: none;
  }

  .logo {
    padding-left: 10px;
    width: 120px;
    height: 80px;
  }

  /* list-style-type: none; */
  
  .nav-items li:hover {
    color: #f44336;
  }
  
  /* Online status */
  .button-container h1 {
    margin: 0;
    font-size: 24px;
  }
  
  /* Login/logout buttons */
  .button-container button {
    padding: 8px 16px;
    border-radius: 24px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
